@import '../../../assets/styles/variables.scss';

.dodger {
    margin-top: 200px;
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 50px;
    position: relative;
    &__img {
        border-radius: 0 24px 24px 0;
    }
}
.paragraph {
    width: 70%;
    margin-bottom: 52px;
}
.security, .darknet {
    position: absolute;
    text-shadow: -1px 0 #DBDBDB, 0 1px #DBDBDB, 1px 0 #DBDBDB, 0 -1px #DBDBDB;
    font-size: 96px;
    font-weight: 800;
    color: $secondary-white;
    z-index: -1;
}
.security {
    left: 35%;
    top: -17%;
}
.darknet {
    right: -10px;
    bottom: 0;
}

.flex {
    display: flex;
}

@media (max-width: 1100px) {
    .dodger {
        display: block;
        &__img {
            width: 50%;
        }
    }
}

@media(max-width: 600px) {
    .dodger__img {
        width: 70%;
    }
}