@import "../../../assets/styles/variables.scss";

.products {
    background-color: $primary-black;
    border-radius: 30px;
    padding-top: 150px;
    overflow: hidden;
}
.bubbles {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    height: 500px;
}
.paragraph {
    color: $primary-white;
    margin-bottom: 52px;
    width: 55%;
    font-size: 24px;
}
.big_circle {
    background-color:#0099CC;
    text-decoration: none;
    width: 150px;
    height: 150px;
    padding: 25px;
    box-sizing: border-box;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &:hover {
        box-shadow: -1px 1px 5px 5px rgba(0, 153, 204, 0.2);
        &::before {
            cursor: pointer;
            box-shadow: -1px 1px 5px 5px rgba(0, 153, 204, 0.2);
        }
    }
    &::before {
        position: absolute;
        content: "";
        border-radius: 50%;
        width: 200px;
        height: 200px;
        border: 1px solid #0099CC;
    }
    div {
        color: $primary-white;
        text-align: center;
    }
}

.small_circle {
    border-radius: 50%;
    box-sizing: border-box;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #669966;
    color: $primary-white;
    width: 85px;
    height: 85px;
    &:hover {
        box-shadow: -1px 1px 5px 5px rgba(102, 153, 102, 0.2);
        cursor: pointer;
        &::before {
            box-shadow: -1px 1px 5px 5px rgba(102, 153, 102, 0.2);
        }
    }
    &::before {
        position: absolute;
        content: "";
        border-radius: 50%;
        width: 120px;
        height: 120px;
        border: 1px solid #669966;
    }
    div {
        color: $primary-white;
        text-align: center;
    }
}

@media (max-width: 1000px) {
    .bubbles {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 600px) {
    .bubbles {
        grid-template-columns: repeat(3, 1fr);
    }
    .big_circle {
        width: 90px;
        height: 90px;
        &::before {
            width: 120px;
            height: 120px;
        }
        div {
            font-size: 12px;
        }
    }
    .small_circle {
        width: 70px;
        height: 70px;
        &::before {
            width: 100px;
            height: 100px;
        }
        div {
            font-size: 12px;
        }
    }
    .flex {
        display: flex;
    }
    .paragraph {
        width: 100%;
        font-size: 16px;
    }
}