@import "../../../assets/styles/variables.scss";

.about_main {
    background-color: $primary-black;
    padding-top: 43px;
    padding-bottom: 43px;
    position: relative;
}
.about_image {
    border-radius: 12px;
    float: right;
    filter: brightness(80%);
}
.about__content {
    position: relative;
}
.title {
    color: $primary-white;
    position: absolute;
    z-index: 100;
    width: 50%;
}

@media (max-width: 550px) {
    .about_image {
        width: 100%;
    }
    .title {
        position: static;
        width: 100%;
    }
}