@import "../../../assets/styles/variables.scss";

.products {
    position: absolute;
    width: 100%;
    background-color: $primary-black;
    border-radius: 30px;
    padding-top: 150px;
    overflow: hidden;
    &__head {
        display: flex;
        justify-content: space-between;
    }
    &__btn {
        text-decoration: underline;
        border: none;
        padding: 0;
    }
}

.white_text {
    color: $primary-white;
}
.change_width {
    width: 70%;
    margin-bottom: 52px;
}

.tabs {
    display: flex;
    flex-direction: row;
    gap: 4px;
    overflow-x: scroll;
    &__btn {
        font-family: 'Manrope';
        white-space: nowrap;
        background-color: $secondary-white;
        color: $primary-black;
        &_active {
            font-family: 'Manrope';
            white-space: nowrap;
            background-color: $primary-black;
            border: 1px solid $primary-white;
            .arrow__active {
                transform: rotate(180deg);
            }
        }
    }
    &__content {
        margin-top: 40px;
        margin-bottom: 150px;
    }
    &__box {
        border-radius: 12px;
        background-color: $secondary-black;
        border: 1px solid rgba(255, 255, 255, 0.2);
        padding: 48px 21px 33px 21px;
        width: 386px !important;
        height: 233px;
        text-decoration: none;
    }
    &__title {
        color: $thirdly-white;
        font-size: 20px;
        font-weight: 800;
        margin-top: 25px;
        margin-bottom: 12px;
    }
    &__descr {
        font-family: 'SF-Pro-Text', sans-serif;
        color: $thirdly-white;
        font-size: 16px;
        font-weight: 400;
    }
    &__prev, &__next {
        position: absolute;
        bottom: -20%;
        cursor: pointer;
    }
    &__prev {
        left: 45%;
    }
    &__next {
        right: 45%;
    }
    &__parent {
        position: relative;
    }
    &__ellipse {
        position: absolute !important;
        top: 19px;
        z-index: 100;
    }
}

@media (max-width: 1000px) {
    .tabs__box {
        width: auto !important;
    }
}

@media (max-width: 600px) {
    .tabs__btn {
        font-size: 15px;
    }
}

@media (max-width: 500px) {
    .tabs__box {
        width: auto !important;
    }
    .tabs__descr {
        font-family: 'Manrope';
        font-weight: 500;
    }
}