@import "../../../assets/styles/variables.scss";

.products {
    position: absolute;
    width: 100%;
    background-color: $primary-black;
    border-radius: 30px;
    padding-top: 150px;
    overflow: hidden;
    &__head {
        display: flex;
        justify-content: space-between;
    }
    &__btn {
        text-decoration: underline;
        border: none;
        padding: 0;
    }
}

.white_text {
    color: $primary-white;
}
.change_width {
    width: 80%;
    margin-bottom: 52px;
}

.tabs {
    display: flex;
    flex-direction: row;
    gap: 4px;
    &__btn {
        white-space: nowrap;
        background-color: $secondary-white;
        color: $primary-black;
        &_active {
            white-space: nowrap;
            background-color: $primary-black;
            border: 1px solid $primary-white;
            .arrow__active {
                transform: rotate(180deg);
            }
        }
    }
    &__content {
        display: grid;
        grid-auto-flow: column;
        column-gap: 15px;
        margin-top: 40px;
        margin-bottom: 49px;
        transition: transition;
        transition-property: transform;
        transition-duration: 300ms;
        transition-timing-function: ease;
    }
    &__box {
        border-radius: 12px;
        background-color: $secondary-black;
        border: 1px solid rgba(255, 255, 255, 0.2);
        padding: 48px 21px 33px 21px;
        width: 344px;
        text-decoration: none;
    }
    &__title {
        color: $thirdly-white;
        font-size: 20px;
        font-weight: 800;
        margin-top: 25px;
        margin-bottom: 12px;
    }
    &__descr {
        color: $thirdly-white;
        font-size: 16px;
        font-weight: 400;
    }
    &__navigation {
        display: flex;
        justify-content: center;
        gap: 22px;
        margin-bottom: 101px;
        img {
            cursor: pointer;
        }
    }
    &__parent {
        position: relative;
    }
    &__ellipse {
        position: absolute !important;
        top: 19px;
        z-index: 100;
    }
}

@media (max-width: 400px) {
    .tabs__navigation {
        display: none;
    }
    .tabs, .tabs__content {
        overflow-x: scroll;
        width: 100vw;
    }
    .tabs__box {
        width: 300px;
    }
    .tabs__btn {
        font-size: 15px;
    }
}